* {
  box-sizing: border-box;
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

html {
  overflow-y: scroll;
  height: 120%;
}

// Need to clear img tag styles from BootStrap and Normalizer
img {}

li {
  list-style-type: none;
}

// VARIABLES
$primary-light: #33c3f0;
$primary: #1b95bb;
$primary-med: #167e9e;
$primary-dark: #10586e;
$secondary-light: #f7cb3e;
$secondary: #f5a91c;
$secondary-dark: #e4981c;
$tertiary: #ef4b23;
$white: #FFFFFF;
$gray: #999999;
$light-gray: #EEEEEE;
$dark-gray: #333333;

$container-width: 326px;
$container-height: 640px;
$header-width: $container-width;
$header-height: 50px;
$entity-list-item-height: 64px;
$footer-menu-height: $header-height;
$footer-menu-width: $container-width;
$score-width: 25px;
$score-height: 35px;
$search-bar-height: 25px;
$search-bar-width: $container-width;

.container-width {
  width: $container-width;
}

.container-height {
  height: $container-height;
}

.color-primary {
  color: $primary;
}

.bg-primary {
  $background-color: $primary;
}

.dotalign-container {
}

.dotalign-header {
  position: fixed;
  width: $header-width;
  height: $header-height;
  color: $dark-gray;
  background-color: $light-gray;
  text-align: center;
  padding-top: $header-height / 4;
  z-index: 2;
}

.entity-list {
  position: absolute;
  top: $header-height + $search-bar-height + 8;
}

.entity-list-item {
  border-bottom: solid 1px $light-gray;
  background-color: white;
  width: $container-width;
  height: $entity-list-item-height;
  padding: 18px 10px 10px 10px;
}

.entity-list-item-detail {
  font-size: 0.8em;
  color: $gray;
}

.navigation-menu-footer{
  position: fixed;
  width: $footer-menu-width;
  height: $footer-menu-height;
  top: $container-height - $footer-menu-height;
  text-align: center;

  color: white;
  background-color: $primary-dark;

  z-index: 2;
}

.navigation-tile {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  height: $footer-menu-height;
  background-color: $primary;
  font-size: 1.25em;
  line-height: 50px;
}

.score {
  position: absolute;
  right: 15px;
  transform: translateY(-18px);
  display: inline-block;
  width: $score-width;
  height: $score-height;
  background-color: $primary;
  color: white;
  text-align: center;
  line-height: 35px;
}

.search-bar {
  position: fixed;
  top: $header-height;
  width: $search-bar-width;
  height: $search-bar-height + 8;
  padding: 16px 16px 16px 25px;
  z-index: 2;
}

@mixin search-bar-icons {
  position: fixed;
  top: 61px;
  color: $light-gray;
  z-index: 3;
}

.fa-search {
  @include search-bar-icons;
  margin-left: 5px;
}

.fa-times {
  @include search-bar-icons;
  margin-left: $container-width - 20px;
  cursor: pointer;
}