* {
  box-sizing: border-box;
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px; }

html {
  overflow-y: scroll;
  height: 120%; }

li {
  list-style-type: none; }

.pad-left-50 {
  padding-left: 50px; }

.container-width {
  width: 326px; }

.container-height {
  height: 640px; }

.color-primary {
  color: #1b95bb; }

.home {
  text-align: center; }

.home-plus {
  font-size: 7em;
  position: relative;
  top: -50px;
  margin-left: 20px;
  margin-right: 40px; }

.start-demo {
  cursor: pointer;
  background-color: mediumseagreen;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-size: 13pt;
  margin-top: 50px; }

.dotalign-header {
  position: fixed;
  width: 326px;
  height: 50px;
  color: #333333;
  background-color: #EEEEEE;
  text-align: center;
  padding-top: 12.5px;
  z-index: 2; }

.container-logo {
  width: 125px;
  position: absolute;
  top: 250px;
  left: 105px; }

.entity-list {
  position: absolute;
  top: 83px; }

.entity-list-item {
  border-bottom: solid 1px #EEEEEE;
  background-color: white;
  width: 326px;
  height: 64px;
  padding: 18px 10px 10px 10px; }

.entity-list-item-detail {
  font-size: 0.8em;
  color: #999999; }

.entity-list-item-initials {
  background-color: gray;
  position: absolute;
  display: inline-block;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-7px);
  text-align: center;
  line-height: 40px; }

.entity-list-item-company-avatar {
  position: absolute;
  display: inline-block;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-7px);
  text-align: center;
  line-height: 40px;
  background-color: #1b95bb; }

.navigation-menu-footer {
  position: fixed;
  width: 326px;
  height: 50px;
  top: 590px;
  text-align: center;
  color: white;
  background-color: #10586e;
  z-index: 2; }

.navigation-tile {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  height: 50px;
  background-color: #1b95bb;
  font-size: 1.25em;
  line-height: 50px; }

.score {
  position: absolute;
  right: 15px;
  transform: translateY(-18px);
  display: inline-block;
  width: 25px;
  height: 35px;
  background-color: #1b95bb;
  color: white;
  text-align: center;
  line-height: 35px; }

.search-bar {
  position: fixed;
  top: 50px;
  width: 326px;
  height: 33px;
  padding: 16px 16px 16px 25px;
  z-index: 2; }

.fa-search {
  position: fixed;
  top: 61px;
  color: #EEEEEE;
  z-index: 3;
  margin-left: 5px; }

.fa-times {
  position: fixed;
  top: 61px;
  color: #EEEEEE;
  z-index: 3;
  margin-left: 306px;
  cursor: pointer; }
